.cover-container{
    margin: 10em;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description-container{
    margin: 20px;
    margin-top: 20px;
    text-overflow: clip;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}