.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline ; 
    height: 5em;
    margin: 10px;
    margin-left: 2em;
    margin-right: 2em; 
}

.avatar{
    margin-left: 2em;
    float: left;
}

#headerText {
    margin-left: 3em;
    margin-top: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
 
}

.link-container {
    display: inline-block;
}